@{
    ViewBag.Title = "Інформація про адреси";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine Lviv<br />
    Luchakivska street<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    
</address>